/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#navbarNav {
  justify-content: space-between;
  align-items: normal;
}

.card-deck .work-links {
  background-color: #e5D3B3;
  color: #3D2F2F;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.card-deck .work-links:hover {
  background-color: #f5e7cf;
}

.card-deck .btn-group {
  margin-left: 35%;
}

.card-deck .card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.skills-images {
  display: flex;
  justify-content: space-between;
}
.skills-images svg {
  max-width: 100px;
}