@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* variables */
:root {
  --primaryclr: #987554;
  --primarylightclr: #e5D3B3;
  --secondaryclr: #B99976;
  --textlightclr: #ffffff;
  --textcolor: black;
  --sans-serif: Jost, sans-serif;
}

nav {
    background-color: var(--primaryclr);
    
}

.navbar {
  background-color: var(--primaryclr);
}

.nav-link {
  color: var(--primarylightclr);
  margin-right: 20px;
  float:right;

}

body {
  background-color: #e5D3B3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

@media (min-width:768px) and (max-width:991px) {
  
}

